@import 'styles/utils';

.modalOuter {
    background-color: white;
    
    padding: 1rem 2rem;
    
    .options {
        display: flex;
        margin-top: 1rem;
        justify-content: space-evenly;
    }
}