@import 'styles/utils';

.button {
    vertical-align: middle;
    cursor: pointer;

    &.submit {
        font-size: 1rem;
        color: white;
        text-align: center;

        margin-top: 2.5rem;
        padding: 6px 12px;
        
        background-color: $basicYellow;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0 3px #b9bdba;

        &:hover{
            background-color: $darkerYellow;
        }

        &:active{
            background-color: $darkerYellow;
            box-shadow: 0 1px #b9bdba;
            transform: translateY(4px);
        }
    }

    &.support {
        font-size: 0.8rem;
        color: #575654;
        text-decoration: underline;

        margin-top: 5px;
    }
}