@import 'styles/utils';

.mainContent-wrapper{
    //내용 가운데 정렬
    display: flex;
    align-content: center;

    flex-direction: column;

    width: 1400px;
    margin: 0 auto;

    padding: 4rem 5rem;

    @include media("<wide") {
        width: 100%;;
    }
    
    @include media("<large") {
        width: 100%;
    }

    @include media("<medium") {
        width: 100%;
    }
}