@import 'styles/utils';

.login-sns-container{
    display:flex;
    flex-direction: column;

    .login-sns-title{
        margin-bottom: 1.5rem;

        color: $fontGray;
        font-size: 0.9rem;
        text-align: center;

    }

    .login-sns-list{
        display:flex;
        margin: 0 auto;
        justify-content: space-between;
        width: 190px;

        .sns-icon-div{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow:hidden;
            cursor: pointer;

            .naver-icon{
                width: 100%;
                height: 100%;
                background-image: url(./naver.png);
                background-size: cover;
            }
            .kakao-icon{
                width: 100%;
                height: 100%;
                background-image: url(./kakao.svg);
                background-size: cover;
            }
            .google-icon{
                width: 100%;
                height: 100%;
                background-image: url(./google.svg);
                background-size: cover;
            }
        }
    }
}

