.PopularPostBlock {
    display: flex;
    width: 20rem;
    height: 20rem;
    flex-direction: column;
    
    overflow: hidden;
    cursor: pointer;

    .img-div{
        height: 13rem;
        border-radius: 5px;
        overflow: hidden;

        .img{
            height: 100%;
            border-radius: 5px;
            background-image: url('http://drive.google.com/uc?export=view&id=1_0YFYC8EGVqOE0kG4mH__pFtGQMA1P5u');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            transition: transform .5s ease;

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    .info{
        display: flex;
        padding-top: 0.6rem;
        flex-direction: column;
        font-size: 0.9rem;

        .section{
            display:flex;
            justify-content: center;
            padding-top: 0.3rem;

            .icon-div{
                margin-top:2px;
                margin-right: 5px;
            }
        }
    }
}