@import 'styles/utils';

.RoomType {
    margin: auto;
    padding: 1rem 0;

    ul {
        display: flex;



        li {
            display: flex;
            align-items: center;
            border-right: 1px solid $fontGray;
            padding: 0 1rem;

            p{
                margin: 0;
                color: #888888;
            }
    
            span{
                margin-left: 1rem;
            }

            &:first-child {
                padding-left: 0;
            }
            
            &:last-child {
                border-right: none;
                padding-right: 0;
            }
        }
    }
}