@import 'lib/all';

$basicBlue: #53b4e0;
$basicYellow: #fab300;
$darkerYellow: #f5af00;
$lightGray: #e9ecef;

//기본 글자 색상
$fontGray: #343a40;

/*반응형 디자인 시 참조할 구간*/
$breakpoints: (small: 576px, medium: 768px, large: 1024px, wide: 1400px);

@mixin dividerLine {
    margin: 1.5rem 0;
    border-bottom: solid 1px #e9ecef;
}

@mixin block-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
