@import 'styles/utils';

.nav {
    color: $fontGray;
    cursor: pointer;

    &.main {
        &:active, &:hover {
            color: $darkerYellow;
            font-weight: 500;
        }
    }

    &.sub {
        font-size: 0.9rem;
        margin-left: 5px;

        &:active, &:hover {
            text-decoration: underline;
        }
    }

    &.selectBox {
        font-size: 0.9rem;
        padding: 0.5rem;
        align-items: center;
        text-align: center;
        cursor: pointer;

        &:hover {
            color: #868e96;
        }
    }
}