@import 'styles/utils';

.header {
    background: white;
    .header-content {
        height: 5rem;
        width: 1400px;
        margin: 0 auto;
        padding-left: 5rem;
        padding-right: 5rem;
        border-bottom: 1px solid #e9ecef;

        //내부 아이템 세로 가운데 정렬
        display: flex;
        align-items: center;

        //반응형 레이아웃
        @include media("<wide") {
            width: 100%;
        }

        @include media("<medium") {
            height: 8rem;
            flex-direction: column;
        }

        .logo {
            //로고
            color: black;
            font-size: 2rem;
            font-weight: 1000;

            @include media("<medium") {
                margin: auto;
            }
        }

        .margin-left-auto {
            margin: auto 0;
            margin-left: auto;

            @include media("<medium") {
                margin: auto;
            }

            ul {
                display:flex;

                li { 
                    display: flex;
                    flex-direction: column;
                }

                li + li {
                    margin-left: 2rem
                }
            }

        }

        .profile{
            display: flex;
            cursor: pointer;

            .profile-img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 1px solid #e8e8e8;
                margin-right: 5px;

                top: 9px;

                background-image: url('./test-userImg2.png');
                background-size: cover;
            }

            .user-name {
                margin: auto;
            }
        }
    }
}