@import 'styles/utils';

.header {
    background: white;
    .header-content {
        height: 5rem;
        width: 1400px;
        margin: 0 auto;
        padding-left: 3rem;
        padding-right: 3rem;
        border-bottom: 1px solid #e9ecef;

        //내부 아이템 세로 가운데 정렬
        display: flex;
        align-items: center;

        //반응형 레이아웃
        @include media("<wide") {
            width: 100%;
        }

        @include media("<medium") {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .logo {
            //로고
            color: black;
            font-size: 2rem;
            font-weight: 1000;
        }

        .margin-left-auto {
            margin-left: auto;

            .menu-wrap {
                margin:0 auto;

                .menu {
                    float:left; 
                    text-align:center;

                    li { 
                        display:inline-block; 
                        text-align:center;
                    }

                    li + li {
                        margin-left: 2rem
                    }
                }
            }
        }

        .profile-img {
            display: inline-block;
            background-color: black;
            width: 32px;
            height: 32px;
            border-radius: 50%;

            margin-right: 5px;

            position: relative;
            top: 9px;

        }
    }
}