
.GoToWritePost{
    display: flex;
    padding: 2rem 1.8rem;
    background-color: #008bff;
    border-radius: 3px;
    
    color: white;
    font-weight: 600;

    h3{
        margin: auto 0;
        font-size: 1.1rem;
    }

    .buttion-div{
        margin-left: auto;
    }
}