@import 'styles/utils';

.gray-background {
    background: rgba(100, 100, 100, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.modal-wrapper {
    z-index: 25;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    &.cancelLike {
        overflow: hidden;
        border-radius: 5px;
        border: 1px solid lightGray;
    }
    .modal{
        background:white
    }
}