@import 'styles/utils';

.WritingForm {
    width : 40rem;
    margin: 3rem auto;
    min-height: 40rem;

    @include media("<large") {
        width: 100%;
    }

    h1{ 
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

}