@import 'styles/utils';

.titleFieldDiv {
    display: flex;
    flex-direction: column;
    
    .spotForModal{
        display: flex;
        min-height: 2.25rem;
    }

    .subTitleDiv{
        margin-bottom: 1rem;

        .subTitle {
            color: $fontGray;
        }
    }
    .titleInput {
        padding: 1rem 1rem;
        border: 1px solid $lightGray;
        width: 100%;

        font-size: 1rem;

        outline: none;
    }

    .numOfChaLimit {
        margin-left:auto;
    }

    .buttonDiv {
        display: flex;
        margin: auto;
        margin-top: 4rem;
    }
}

.flexColumn{
    display: flex;
    flex-direction: column;
}
