
.PopularPostList{

    h2{
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .listWrapper {
        display: flex;
        flex: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}