@import 'styles/utils';

.paymentFieldDiv {
    display: flex;
    flex-direction: column;

    .subTitleDiv{
        margin-bottom: 1rem;

        .subTitle {
            color: $fontGray;
        }
    }
    .innerDiv{
        display: flex;
        flex-direction: column;
        margin: auto;

        .flexRow {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;

            .slash {
                font-size: 1.7rem;
                font-weight: bold;
                margin: 0 1rem;
                text-align: center;
            }
            input[type='text'] {
                padding: 0.8rem 1rem;
                border: 1px solid $lightGray;
                width: 100%;
        
                font-size: 1rem;
                outline-style: none;
            }

            .won {
                display: flex;
                margin: 0 1rem;

                align-items: center;
                text-align: center;
                
                font-size: 1.2rem;
                font-weight: bold;
            }

        }

        .mngFeeDiv {
            display:flex;
            flex-direction: column;
            margin-top: 10px;
            
            .flexRow-margin{
                display: flex;
                margin:auto;

                input[type='text'] {
                    padding: 0.8rem 1rem;
                    border: 1px solid $lightGray;
                    width: 100%;
            
                    font-size: 1rem;
                    outline-style: none;

                    &:disabled {
                        background-color: $lightGray;
                    }
                }

                .won {
                    display: flex;
                    margin: 0 1rem;
    
                    align-items: center;
                    text-align: center;
                    
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }
        }
    }
    .message {
        display: flex;
        margin: auto;
        margin-top: 1rem;
        font-size: 0.8rem;
        .icon{
            margin-top: 2px;
        }

        span {
            margin-left: 10px;
            color: gray;
        }
    }
    .buttonDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
        
        width: 100%;
    }
}