@import 'styles/utils';

.footer {
    background: #e9ecef;
    height: 15rem;

    //내부 아이템 세로 가운데 정렬
    display: flex;
    align-items: center;

    p {
        margin: 0;
    }

    .footer-content{

        width: 1400px;
        margin: 0 auto;
        padding-left: 4rem;
        padding-right: 4rem;

        display: flex;
        align-items: left;
        flex-direction: column;
        
        .logo {
            font-weight: bold;
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
        }

        .clientService { //고객센터 정보
            //폰트 
            color: #343a40;
            font-size: 0.9rem;

            //내용 정렬
            display: flex;
            flex-direction: column;

        }

        .detail {
            //폰트 
            color: #343a40;
            font-size: 0.8rem;

            margin-top: 1rem;

            #copyright {
                margin-top: 0.5rem;
            }
        }
    }
}