
.Map {
    margin: auto;
    text-align: center;

    p{
        margin: 2rem 0;
        font-size: 1.2rem;
        color: #888888;
    }
    .map-block{
        width: 836px;
        height: 500px;
    }
}