@import 'styles/utils';

.addressFieldDiv {
    display: flex;
    flex-direction: column;

    .spotForModal{
        display: flex;
        min-height: 2.25rem;
    }
    
    .subTitleDiv {
        margin-bottom: 1rem;

        .subTitle {
            text-align: center;
            color: $fontGray;
        }
    }

    .innerDiv {
        display: flex;
        color: #7c7c7c;

        .flexColumn {
            width: 60%;
            margin:auto;

            .searchDiv {
                width: 100%;
                padding: 0.8rem 1rem;
                border: 1px solid $lightGray;
                
                font-size: 0.9rem;
                cursor: pointer;
            }

            .detailAdd {
                width: 100%;
                margin-top: 1rem;
                padding: 0.8rem 1rem;
                border: 1px solid $lightGray;
                font-size: 0.9rem;
                outline-style: none;
            }
        }
    }
    
    .buttonDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
        
        width: 100%;
    }
}